
# Cache, temp and personal files

/*
!themes
themes/*
!themes/classic
themes/classic/_dev/node_modules*

!modules
modules/*
!modules/ps_searchbarjqauto

!import
import/*
!import/inclus.php
!config
config/*
!config/splash.json
!override
!.gitignore
*.DS_Store
*.log
*cache*